
@{
    ViewData["Title"] = "invalid";
}




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Check User Name and Password</h1>




            <a href="@Url.Action("Create","Login")">Login Again</a>

        </div>
    </div>
</div>
